{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "Jwt": {
    "Key": "KEY",
    "Issuer": "http://localhost:5000"
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "home": "server=IP;port=PORT;database=DB_HOME;user=DB_USER;password=DB_USER_PASS"
  }
}